<div class="container">
  <nav>
    <ul>
      <div class="header-nav">
        <li class="usuario">
          <img src="../../../assets/img/boxed-water-is-better-5Lw1U5BIumE-unsplash.jpg" />
          <div class="dados-usuario">
            <span class="nome-usuario">Daniele</span>
            <span class="email-usuario">dani@gmail.com</span>
          </div>
        </li>
        <div class="listas">
          <li routerLinkActive="active">
            <div>
              <a routerLink="/home">
                <img src="/assets/icons/botao-de-inicio.png" width="18px" class="icone" />
                Tarefas
              </a>
            </div>

          </li>
          <li routerLinkActive="active">
            <div>
              <a routerLink="/meuDia">
                <img src="/assets/icons/brilho-do-sol.png" width="18px" class="icone" />
                Meu Dia</a>
            </div>

          </li>
          <li routerLinkActive="active">
            <div>
              <a routerLink="/importante">
                <img src="/assets/icons/estrela.png" width="16px" class="icone" />
                <span>Importante</span>
              </a>
            </div>

          </li>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="listas-usuario">
        <div class="lista-usuario" *ngFor="let lista of listas">
          <li routerLinkActive="active">
            <img src="/assets/icons/cardapio.png" width="15px" class="icone" />
            <span>{{lista.nome}}</span>
          </li>
        </div>
      </div>
      <li class="nova-lista">
        <form>
          <button type="submit" (click)="novaLista()"><img src="/assets/icons/mais.png" width="22px" class="icone" /></button>
          <input name="nome" placeholder="Nova Lista" [(ngModel)]="lista.nome">
        </form>
      </li>
    </ul>
  </nav>
  <div class="container">
    <ng-content></ng-content>
  </div>
</div>
