.container{
  display: flex;
}

nav{
  display: flex;
  justify-content: center;
  background-color: var(--sidenav);
  height: 100vh;
  width: 300px;
  box-sizing: border-box;
  position: fixed;
  padding: 10px;

  ul{
    width: 100%;
    padding: 0;

    .header-nav{
      height: 33%;
    }

    li{
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 12px;
      margin-bottom: 5px;
      font-size: 15px;
      box-sizing: border-box;

      div{
        display: flex;
        align-items: center;
      }

      img{
        margin-right: 15px;
        opacity: 0.8;
      }

      a{
        text-decoration: none;
        color: var(--preto);
      }

    }

    li:hover{
      background-color: var(--cinza);
      border-radius: 5px;
    }

    li:first-child:hover{
      background-color: transparent;
    }

    mat-divider{
      margin-bottom: 15px;
      width: 100%;
    }

    .usuario{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px;

      img{
        border-radius: 100%;
        width: 70px;
        height: 70px;
        object-fit: cover;
        margin-right: 25px;
      }

      .dados-usuario{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .nome-usuario{
          text-align: start;
          width: 100%;
          font-weight: 500;
        }

        .email-usuario{
          font-size: 12px;
          color: rgb(102, 102, 102);
        }
      }

    }

    .qntd-tarefas{
      background-color: #d5d5d5;
      border: 1px solid rgb(222, 222, 222);
      border-radius: 100%;
      width: 23px;
      height: 20px;
      text-align: center;
      padding-top: 3px;
      font-size: 11px;
      margin: 0;
    }

    .listas-usuario{
      height: 500px;
      overflow-y: auto;
    }

    .lista-usuario{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;

      li{
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
      }

      li:hover{
        background-color: var(--cinza);
        border-radius: 5px;
      }

    }

    .nova-lista{
      width: 93%;
      padding: 10px;
      margin: 0;
      position: absolute;
      bottom: 10px;
    }

    .nova-lista form{
      display: flex;
      align-items: center;

      button{
        background-color: transparent;
        border: none;
        color: var(--preto);
        font-size: 15px;
        cursor: pointer;
      }

      input{
        padding: 5px;
        background-color: transparent;
        border: none;
      }

      input:focus{
        outline: none;
      }
    }

    .active{
      font-weight: 500;
      background-color: var(--cinza);
      border-radius: 5px;
    }
  }



}

