.container {
  display: flex;
}

nav {
  display: flex;
  justify-content: center;
  background-color: var(--sidenav);
  height: 100vh;
  width: 300px;
  box-sizing: border-box;
  position: fixed;
  padding: 20px;

  .listagem {
    width: 100%;
    padding: 0;

    .header-nav {
      height: 30%;

      .usuario {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 25px 0;

        img {
          border-radius: 100%;
          width: 70px;
          height: 70px;
          object-fit: cover;
          margin-right: 25px;
        }

        .dados-usuario {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          .nome-usuario {
            text-align: start;
            width: 100%;
            font-weight: 500;
            font-size: 16px;
          }

          .email-usuario {
            font-size: 13px;
            color: rgb(102, 102, 102);
          }
        }

      }
    }

    a {
      text-decoration: none;
      color: var(--preto);
    }


    .item {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 12px;
      margin-bottom: 5px;
      font-size: 15px;
      box-sizing: border-box;

      div {
        display: flex;
        align-items: center;
      }

      img {
        margin-right: 15px;
        opacity: 0.8;
      }

    }

    .item:hover {
      background-color: var(--cinza);
      border-radius: 5px;
    }

    mat-divider {
      margin-bottom: 15px;
      width: 100%;
    }

    .listas-usuario {
      height: 500px;
      overflow-y: auto;

      .lista-usuario {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;

        .item {
          display: flex;
          justify-content: flex-start;
          cursor: pointer;
        }

        .item:hover {
          background-color: var(--cinza);
          border-radius: 5px;
        }

        a {
          text-decoration: none;
          color: var(--black);
        }

      }

    }

    .nova-lista {
      width: 93%;
      padding: 10px;
      margin: 0;
      position: absolute;
      bottom: 10px;
    }

    .nova-lista form {
      display: flex;
      align-items: center;

      button {
        background-color: transparent;
        border: none;
        color: var(--preto);
        font-size: 15px;
        cursor: pointer;
      }

      input {
        padding: 5px;
        background-color: transparent;
        border: none;
      }

      input:focus {
        outline: none;
      }
    }

  }

  .active {
    font-weight: 500;
    background-color: var(--cinza);
    border-radius: 5px;
  }

}
