<div class="container">
  <div class="login">
    <div class="login-container">
      <h1>Login</h1>
      <form>
        <label for="email">Email</label>
        <input type="text" name="email">
        <label for="senha">Senha</label>
        <input type="text" name="senha">
        <div class="btn-cadastro">
          <button>Entrar</button>
          <span>Ainda não possui cadastro? Cadastre-se <strong>aqui</strong> </span>
        </div>
      </form>
    </div>
  </div>
  <div class="imagem">
    <img src="/assets/img/3235815-scaled (1).png" width="1000px">
  </div>
</div>
