/* You can add global styles to this file, and also import other style files */
@import './variaveis.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}

.tooltip{
  text-transform: lowercase;
  background-color: white!important;
  color: black!important;
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: var(--verde);
  --mdc-snackbar-container-color: whiteSmoke;
  --mdc-snackbar-supporting-text-color: var(--black);
}

.mat-mdc-menu-content, .mat-mdc-menu-panel{
  min-width: 200px!important;
  max-width: 350px!important;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.temas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 7px;
}


.tema{
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 7px;
  opacity: 0.9;
}

.tema:hover{
  opacity: 1;
  cursor: pointer;
}

.btn-concluidas{
  z-index: 2;
  width: fit-content;
  margin-left: 160px;
  margin-bottom: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(231, 228, 228, 0.704);
  border: none;
  border-radius: 5px;
  font-size: 13px;
}

.btn-concluidas:hover{
  background-color: white;
  cursor: pointer;
}

.apagar{
  background-color: transparent;
  border: none;
  margin-left: 5px;
  cursor: pointer;

  img{
    width: 19px;
  }
}

.apagar:hover{
  color: #333333;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(220, 220, 220, 0.714);
  border-radius: 8px;
  margin-left: 10px;
  opacity: 0.6;
}
::-webkit-scrollbar-track {
  background: rgba(220, 220, 220, 0.714);
  border-radius: 8px;
  opacity: 0.6;
}
::-webkit-scrollbar-track-piece {
  background: rgba(220, 220, 220, 0.714);
  border-radius: 8px;
  opacity: 0.6;
}
::-webkit-scrollbar-thumb {
  background: rgba(76, 76, 76, 0.525);
  border-radius: 8px;
  height: 20px;
}






