/* You can add global styles to this file, and also import other style files */
@import './variaveis.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}

.tooltip{
  text-transform: lowercase;
  background-color: white!important;
  color: black!important;
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: var(--verde);
  --mdc-snackbar-container-color: whiteSmoke;
  --mdc-snackbar-supporting-text-color: var(--black);
}

.mat-mdc-menu-content, .mat-mdc-menu-panel{
  min-width: 200px!important;
  max-width: 350px!important;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.temas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 7px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(220, 220, 220, 0.714);
  border-radius: 8px;
  margin-left: 10px;
  opacity: 0.6;
}
::-webkit-scrollbar-track {
  background: rgba(220, 220, 220, 0.714);
  border-radius: 8px;
  opacity: 0.6;
}
::-webkit-scrollbar-track-piece {
  background: rgba(220, 220, 220, 0.714);
  border-radius: 8px;
  opacity: 0.6;
}
::-webkit-scrollbar-thumb {
  background: rgba(76, 76, 76, 0.525);
  border-radius: 8px;
  height: 20px;
}






